page-start {
  .background {
    background-image: url('../assets/imgs/bg-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scroll-content {
    text-align: center;
  }

  p {
    color: #fff  !important;
  }

  ion-card.card {
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
  }

  ion-card-header {
    color: #fff !important;
    font-size: 3em !important;
    font-weight: bold !important;
  }

  .item {
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
  }

  .text-input::-moz-placeholder {
    color: #fff;
  }

  .text-input:-ms-input-placeholder {
    color: #fff;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #fff;
  }
  item-input-has-focus {
    border-bottom: none !important;
  }

  .highlight {
    overflow: hidden;
  }

  .highlight:before,
  .highlight:after {
    content: "";
    background-color: #fff;
    display: inline-block;
    height: 1.2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .highlight:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .highlight:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
