page-start {
  img {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  /*#slogan {
    font-size: 20px;
    font-weight: bold;
  }*/

  .logo {
    width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .background {
    background-image: url('../assets/imgs/bg-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scroll-content {
    text-align: center;
  }

h3 {
  zoom: 2.2 !important;
  color: #fff  !important;
  font-weight: bold !important;
}

  p {
    color: #fff  !important;
  }

  ion-card.card {
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
  }

  ion-card-header {
    font-size: 3em !important;
  }

  .item {
    background: transparent;
    color: #fff;
  }

  .text-input::-moz-placeholder {
    color: #dddddd;
  }

  .text-input:-ms-input-placeholder {
    color: #dddddd;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #dddddd;
  }

  .list-md .item-block .item-inner {
    border-bottom: 1px solid #fff !important;
  }

  .highlight {
    overflow: hidden;
  }

  .highlight:before,
  .highlight:after {
    content: "";
    background-color: #fff;
    display: inline-block;
    height: 1.2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .highlight:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .highlight:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .item-md.item-block .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}
.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}

.item-md {
  padding-left: 5px !important;
}

.item-md [item-left], 
.item-md [item-right], 
.item-md [item-start], 
.item-md [item-end] {
  margin: 10px 0px 9px 0 !important;
}

.item-md ion-icon[item-left] + .item-inner, 
.item-md ion-icon[item-left] + .item-input, 
.item-md ion-icon[item-start] + .item-inner, 
.item-md ion-icon[item-start] + .item-input {
  margin-left: 20px !important;
}
}
