# OSX specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# project files
node_modules
www
.idea
.temp
.sass-cache
coverage
platforms
plugins
*.swp
*.swo
*.log
*.map
*.DS_Store
app/scripts/configuration.js
/src/environment.ts
.vscode/settings.json
config.xml
package-lock.json
package.json
.sourcemaps/0.js.map
