<ion-content>
  <ion-header>
    <ion-navbar>
      <ion-title>Bestellübersicht Service</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            Nummern:
          </ion-col>
          <ion-col col-6>
            Gericht:
          </ion-col>
          <ion-col col-3>
            Status:
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-list>
              <ion-item *ngFor="let item of viewarr">
                <p>Tnr.: {{ item.TableId }}</p>
                <p>Bnr.: {{ item.OrderId }}</p>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-6>
            <ion-list>
              <ion-item *ngFor="let item of viewarr">
                <p>Name: {{ item.Name }}</p>
                <p>Menge: {{ item.Quantity }}</p>
                <p>Zahlung: {{ item.PayStatus }}</p>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-3>

            <ion-list>
              <ion-item *ngFor="let item of viewarr">
                <!--<p>Status: {{ item.OrderState }}</p>-->
                <button ion-button  (click)="login()">Fe</button>
                <button ion-button color="danger" (click)="registration()">Ab</button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-content>

  <ion-footer>
  </ion-footer>
