<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" item-left></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Bestellübersicht Service</ion-title>

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="search" item-right></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="md-options" item-right></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="flash" item-right></ion-icon>
      </button>
      <button ion-button (click)="goToBasket()">
        <ion-icon name="basket" item-right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          Nummern:
        </ion-col>
        <ion-col col-7>
          Gericht:
        </ion-col>
        <!--<ion-col col-3>
          Status:
        </ion-col>-->
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <ion-list>
            <ion-item *ngFor="let item of viewarr">
              <p>Tnr.: {{ item.TableId }}</p>
              <p>Bnr.: {{ item.OrderId }}</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-7>
          <ion-list>
            <ion-item *ngFor="let item of viewarr">
              <p>Name: {{ item.Name }}</p>
              <p>Menge: {{ item.Quantity }}</p>
              <p>Zahlung: {{ item.PayStatus }}</p>
              <!--<ion-icon name="checkmark"></ion-icon>
              <ion-icon name="close"></ion-icon>-->

              <button ion-button><ion-icon name="checkmark"></ion-icon></button>
              <button ion-button color="danger"><ion-icon name="close"></ion-icon></button>
            </ion-item>
          </ion-list>
        </ion-col>
      <!--  <ion-col col-3>
          <ion-list>
            <ion-item *ngFor="let item of viewarr">
              <button ion-button>Fe</button>
              <button ion-button color="danger">Ab</button>
            </ion-item>
          </ion-list>
        </ion-col>-->
      </ion-row>
    </ion-grid>
    <p>Keine Daten vorhanden!</p>
  </ion-card-content>
</ion-content>

<ion-footer>
</ion-footer>
