<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" item-left></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Gesichtserkennung</ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <button  ion-button color="primary" (click)="registrieren()"> 1. Gruppe und Person registrieren </button>
  <button  ion-button color="primary" (click)="bezahlen()"> 2. bezahlen </button>


  <p>Latest Picture:</p>
      <!--
      Varianten funktionieren nicht
      <img src={{currentImage}} />
      <img [src]="base64Image" *ngIf="base64Image" />
      <img class="object-img" [src]="getImgContent1()">
      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(base64Image)"/>
      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(base64Image_mit_attrib)"/>
      -->

      <!-- beide Varianten funktioniern
      <img class="object-img" [src]="getImgContent2()">
      <img [src]="base64Image_mit_attrib" *ngIf="base64Image_mit_attrib" />
      -->
      <img [src]="base64Image_mit_attrib" *ngIf="base64Image_mit_attrib" />

  <!-- <h2>Analyzed Results </h2>
  <p>Resultate der FaceApi:</p>
  <p>{{str_Ausgabe}}</p>-->

</ion-content>
