<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" item-left></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Speisekarte </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToBasket()">
        <ion-icon name="basket" item-right [ngStyle]="{'color': BasketStateColor}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="light">
      <b>Hauptspeisen</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of HauptspeiseArr" (click)="addToArray(item.Uid, item.Name, item.Price)">
      <ion-item>
        <p>
          <img src="{{'https://firebasestorage.googleapis.com/v0/b/payment-restaurant.appspot.com/o/ItemPics%2F'+ item.Uid +'.jpg?alt=media'}}">
        </p>
        <b>{{item.Name}}</b>
        <p>{{item.Description}}</p>
        <p>{{item.Price.toFixed(2)}} €</p>
        <button block ion-button style="height:30px;">Hinzufügen</button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      <b>Getr&auml;nke</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of GetraenkeArr" (click)="addToArray(item.Uid, item.Name, item.Price)">
      <ion-item>
        <p>
          <img src="{{'https://firebasestorage.googleapis.com/v0/b/payment-restaurant.appspot.com/o/ItemPics%2F'+ item.Uid +'.jpg?alt=media'}}">
        </p>
        <b>{{item.Name}}</b>
        <p>{{item.Description}}</p>
        <p>{{item.Price.toFixed(2)}} €</p>
        <button block ion-button style="height:30px;">Hinzufügen</button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      <b>Desserts</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of NachspeiseArr" (click)="addToArray(item.Uid, item.Name, item.Price)">
      <ion-item>
        <p>
          <img src="{{'https://firebasestorage.googleapis.com/v0/b/payment-restaurant.appspot.com/o/ItemPics%2F'+ item.Uid +'.jpg?alt=media'}}">
        </p>
        <b>{{item.Name}}</b>
        <p>{{item.Description}}</p>
        <p>{{item.Price.toFixed(2)}} €</p>
        <button block ion-button style="height:30px;">Hinzufügen</button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
