<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      RegistrationForm: Hallo! ID: {{UserId}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card-content>
  <p>+++Test Seite+++</p>
  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newItem" placeholder="New Shopping item"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addItem()">Add!</button>
    </ion-col>
  </ion-row>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of temparrCat | async">
      <ion-item>
        {{ item }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-only ><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  <ion-list>
    <button ion-item *ngFor="let item of temparrCat" >
      {{ item }}
    </button>
  </ion-list>
</ion-card-content>
</ion-content>

<ion-footer>
</ion-footer>
