<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" item-left></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Serviceübersicht</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="light">
      <b>Zur Auslieferung bereit</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of readyArr">
      <ion-item>
        <ion-icon name="ios-archive" color="danger" item-start></ion-icon>
        <h2><b>{{ item.Name }}</b></h2>
        <p [ngStyle]="{'color': item.timeCheck}">Tisch: {{ item.TableId }}<br/> Eingang: {{ item.TimeStamp }}</p>
        <button ion-button color="danger" (click)="changeOrderState('done', item.OurOrderId)" item-end style="height:50px;">Ausliefern</button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
          
  <ion-list>
    <ion-list-header color="light">
      <b>Offen</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of openOrdersArr">
      <ion-item>
        <ion-icon name="md-unlock" color="lightgrey" item-start></ion-icon>
        <h2><b>{{ item.Name }}</b></h2>
        <p [ngStyle]="{'color': item.timeCheck}">Tisch: {{ item.TableId }}<br/> Eingang: {{ item.TimeStamp }} </p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      <b>In Zubereitung</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of preparingArr">
      <ion-item>
        <ion-icon name="md-restaurant" color="cyellow" item-start></ion-icon>
          <h2><b>{{ item.Name }}</b></h2>
          <p [ngStyle]="{'color': item.timeCheck}">Tisch: {{ item.TableId }}<br/> Eingang: {{ item.TimeStamp }}</p>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      <b>Erledigt</b>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of doneArr">
      <ion-item>
        <ion-icon name="checkmark-circle" color="primary" item-start></ion-icon>
        <h2><b>{{ item.Name }}</b></h2>
        <p>Tisch: {{ item.TableId }}<br/> Eingang: {{ item.TimeStamp }} </p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
