<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" item-left></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Bestellübersicht Service</ion-title>

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="search" item-right></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="md-options" item-right></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="flash" item-right></ion-icon>
      </button>
      <button ion-button (click)="goToBasket()">
        <ion-icon name="basket"item-right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--<ion-list>
    <ion-list-header color="light">
      <b>Auslieferung</b>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of viewarr">
      <ion-item>
        <ion-icon name="ios-radio-button-off"  item-start></ion-icon>
        <h2>{{ item.Quantity }}x {{ item.Name }}</h2>
        <p>Tisch {{ item.TableId }}</p>-->
        <!--
        <p>Tisch Nummer:{{ item.TableId }}</p>
        <p>Bestell Nummer:{{ item.OrderId }}</p>
        <p>Name: {{ item.Name }}</p>
        <p>Menge: {{ item.Quantity }}</p>
        <p>Zahlung: {{ item.PayStatus }}</p>-->
      <!--</ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon> Stornieren</button>
          <button ion-button color="secondary">
            <ion-icon name="checkmark"></ion-icon>Fertig</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>-->
      <ion-list>
        <ion-list-header color="light">
          <b>Offen</b>
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of viewarr">
          <ion-item>
            <ion-icon name="help-circle" color="lightgrey" item-start></ion-icon>
            <h2>{{ item.Quantity }}x {{ item.Name }}</h2>
            <p>Tisch {{ item.TableId }}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon> Stornieren</button>
              <button ion-button color="primary">
                <ion-icon name="checkmark"></ion-icon>Fertig</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          <ion-list>
            <ion-list-header color="light">
              <b>Geliefert</b>
            </ion-list-header>

            <ion-item-sliding *ngFor="let item of viewarr">
              <ion-item>
                <ion-icon name="checkmark-circle" color="primary" item-start></ion-icon>
                <h2>{{ item.Quantity }}x {{ item.Name }}</h2>
                <p>Tisch {{ item.TableId }}</p>
              </ion-item>
              <!--<ion-item-options side="right">
                <button ion-button color="danger">
                  <ion-icon name="trash"></ion-icon> Stornieren</button>
                  <button ion-button color="secondary">
                    <ion-icon name="checkmark"></ion-icon>Fertig</button>
                  </ion-item-options>-->
                </ion-item-sliding>
              </ion-list>
              <ion-list>
                <ion-list-header color="light">
                  <b>Storniert</b>
                </ion-list-header>

                <ion-item-sliding *ngFor="let item of viewarr">
                  <ion-item>
                    <ion-icon name="close-circle" color="danger" item-start></ion-icon>
                    <h2>{{ item.Quantity }}x {{ item.Name }}</h2>
                    <p>Tisch {{ item.TableId }}</p>
                  </ion-item>
                  <!--<ion-item-options side="right">
                    <button ion-button color="danger">
                      <ion-icon name="trash"></ion-icon> Stornieren</button>
                      <button ion-button color="secondary">
                        <ion-icon name="checkmark"></ion-icon>Fertig</button>
                      </ion-item-options>-->
                    </ion-item-sliding>
                  </ion-list>
                </ion-content>
