/* -- Hintergrundbild -- */
/* -- Bildquellen --
https://pixabay.com/de/resort-lecker-lammkotelett-western-921933/
https://pixabay.com/de/pizza-b%C3%A4ckerei-fastfood-mittagessen-2000615/
https://pixabay.com/de/lebensmittel-snack-fleisch-3309418/
https://pixabay.com/de/lachs-fisch-gegrillter-fisch-grill-2997240/
https://pixabay.com/de/servierplatte-essen-lebensmittel-2009590/
https://pixabay.com/de/lebensmittel-messer-hintergrund-2879265/
*/

.toolbar-background-md {
  border-color: #b2b2b2;
  background: #99cc33;
}

.toolbar-title-md {
  color: #fff;
}

.alert-message {
  overflow-y: hidden !important;
}

.bar-button-default-md,
.bar-button-default-md:focus  {
  color: #fff !important;
  background-color: transparent;
}

.center-text {
  display: flex;
  justify-content: center;
}
