/* -- Hintergrundbild -- */
/* -- Bildquellen --
https://pixabay.com/de/resort-lecker-lammkotelett-western-921933/
https://pixabay.com/de/pizza-b%C3%A4ckerei-fastfood-mittagessen-2000615/
https://pixabay.com/de/lebensmittel-snack-fleisch-3309418/
https://pixabay.com/de/lachs-fisch-gegrillter-fisch-grill-2997240/
https://pixabay.com/de/servierplatte-essen-lebensmittel-2009590/
https://pixabay.com/de/lebensmittel-messer-hintergrund-2879265/
*/

/* -- Logo -- */
.logo {
  display: block;
  width: 10vh;
  height: 10vh;
  margin: auto;
  margin-bottom: 2em;
}

/* -- Ausrichtung der Box (inkl. Inhalt) -- */
.scroll-content {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* -- Farben und Form der Box -- */
ion-card.card {
  box-shadow: none;
  background: rgba(0,0,0,0.6);
  border-radius: 5px;
}

/* -- Schriftfarbe der normalen Texte -- */
a, p,
ion-card-header.ion-card-header {
  color: #fff !important;
}

/* -- Formatierung des Titels -- */
.main-title {
  font-size: 2.8rem !important;
  font-weight: 500 !important;
  margin-bottom: 0.5em !important;
  text-transform: uppercase;
}

/* -- Formatierung der Eingabefelder -- */
.item {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: medium none;
}

/* -- Schriftfarbe der Eingabefelder -- */
.item .text-input{
  color: #fff;
}

/* -- Farbe der Icons -- */
ion-icon {
  color: #fff;
}

/* -- Farbe der verschwindenden Texte der Eingabefelder -- */
.item input:-moz-placeholder,
.item input::-moz-placeholder {
  color: #fff !important;
}

/* -- Textausrichtung der Tabelle -- */
ion-row {
  text-align: left;
}

.title,
.content {
  color: white;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.text {
  margin-top: 1.1rem !important;
  margin-bottom: 1.1rem !important;
}

a {
  font-size: 1.1em;
  font-weight: bold;
}


/* damit die Linie rechts und links nicht überläuft*/
.highlight {
  overflow: hidden;
}

.highlight:before,
.highlight:after {
  content: "";
  background-color: #fff;
  display: inline-block;
  height: 1.2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.highlight:before {
  right: 0.5em;
  margin-left: -50%;
}

.highlight:after {
  left: 0.5em;
  margin-right: -50%;
}





/* -- Tabellenumrandung -- */
ion-row, ion-col {
  border: 1px solid darkgrey !important;
}

/* -- Schriftfarbe der oberen Navigationsleiste-- */
.toolbar-title-md {
  color: #fff !important;
}

/* -- Farbe der oberen Navigationsleiste-- */
.toolbar-background-md {
  background-color:#72a441;
}

.no-content {
    font-size: 1.2em !important;
    font-weight: bold !important;
}
