page-orderViewKitchen {
  ion-row {
    text-align: left;
    height: auto;
  }
  .col{
    background: gray;
    border: think solid black;
    //height: auto;
    width: auto;
  }

  /* -- Formatierung der Eingabefelder -- */
  .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: medium none;
  }

  /* -- Schriftfarbe der Eingabefelder -- */
  .item .text-input{
    color: #fff;
    text-align: left;
  }

  /* -- Textausrichtung der Tabelle -- */
  ion-col {
    text-align: left;
  }

  .btn {
    display:block;
    height: 25px;
    width: 25px;
    border-radius: 25%;
    border: 1px ;
  }
}
