<ion-content class="bg">
  <ion-header>
    <ion-navbar>
      <ion-title>Bestellübersicht für die Küche</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="title">
          <ion-col>
            Bestellnr.:
          </ion-col>
          <ion-col>
            Name:
          </ion-col>
          <ion-col>
            Menge:
          </ion-col>
          <ion-col>
            Timestamp:
          </ion-col>
          <ion-col>
            Anmerkungen:
          </ion-col>
          <ion-col>
            Status:
          </ion-col>
        </ion-row>

        <ion-row class="content">
          <ion-col>
            <ion-list>
            <ion-item *ngFor="let ord of orders">
              <p>{{ ord.OrderId }}</p>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
            <ion-item *ngFor="let ord of orders">
              <p>{{ ord.Name }}</p>
            </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            Text
          </ion-col>
          <ion-col>
            Text
          </ion-col>
          <ion-col>
            Text
          </ion-col>
          <ion-col>
            <button ion-button color="cgreen" (click)="login()">Fertig</button>
            <button ion-button color="cred" (click)="registration()">Ablehnen</button>
          </ion-col>
        </ion-row>
      </ion-grid>




      <p class="text no-content">Keine Daten vorhanden!</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
